:host {
  flex: 2;
}

section {
  margin: 2rem 2rem 2rem 0;
  border-top: 1rem solid #e3c54f ;
  border-right: 1rem solid #e3c54f ;
  border-bottom: 1rem solid #e3c54f ;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-weight: normal;
  font-family: 'Grey Qo', cursive;
  font-size: 8rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.circle {
  background-color: #e3c54f;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  transform: translateY(2rem);
  position: absolute;
  z-index: -1;
}

.sub {
  transform: translateY(-1rem);
  margin-top: 0;
  display: table;
  white-space: nowrap;
}

.sub::before, .sub::after {
  border-top: 2px solid black;
  content: '';
  display: table-cell;
  position: relative;
  top: 0.7em;
  width: 35%;
}

.sub::before {
  right: 2%;
}

.sub::after {
  right: -2%;
}

.info {
  margin: 0 4rem;
  border: 2px solid #e3c54f;
  display: flex;
  border-radius: 1rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.info > p {
  padding: 0 1rem;
  font-weight: bold;
  display: flex;
}

p > img {
  padding: 0 1rem;
  width: 2rem;
}

h3 > img {
  transform: translateX(-1rem);
  width: 2rem;
}

h3 {
  display: flex;
  align-items: center;
}

.container {
  margin: 0 4rem;
}

h3 + div {
  border-left: 2px solid black;
  padding: 0 2rem;
}

.bullet::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: relative;
  left: -37px;
  top: 20px;
  background-color: black;
}

.title {
  font-weight:600;
}

p > span {
  color: gray;
}
