<section>
  <h1>Jimba Tshetrim</h1>
  <div class="circle"></div>
  <p class="sub">WEB DEVELOPER</p>
  <div class="info">
    <p><img src="assets/phone.svg"/>+975-77855802</p>
    <p><img src="assets/email.svg"/>jtshetrim@gmail.com</p>
    <p><img src="assets/linkedin.svg"/><a href="https://www.linkedin.com/in/jimba-tshetrim/" target="_blank">LinkedIn</a></p>
    <p><img src="assets/github.svg"/><a href="https://github.com/jimbatshetrim" target="_blank">Github</a></p>
  </div>


  <div class="container">
    <h3><img src="assets/profile.svg"/>Profile</h3>
    <div>
      <p class="bullet">My name is Jimba Tshetrim and I’m from Bhutan. I have been working as a web developer for {{experience}}+ years. I have a proven track record of developing complex applications and collaborating with cross-functional teams. Expertise in designing, developing, and implementing new features, and troubleshooting complex technical issues.</p>
    </div>
  </div>

  <div class="container">
    <h3><img src="assets/work.svg"/>Work Experience</h3>
    <div>
      <p class="bullet title">Front-End Developer</p>
      <p>Selise Bhutan <span> 2021 - Present</span></p>
      <ol>
        <li>I worked on multiple B2B and B2C enterprise level projects in Angular</li>
        <li>I built responsive and interactive user interfaces using Angular
          components, templates, and services.</li>
        <li>Developing and maintaining code for integrating with back-end APIs
          using Angular’s HTTP client or other libraries like Apollo Graphql</li>
        <li>Debugging and troubleshooting frontend issues using Chrome DevTools</li>
        <li>Collaborating with designers and backend developers to ensure seamless integration and implementation of features.</li>
        <li>Optimizing the performance of the frontend by minimizing the use of expensive operations and implementing lazy loading strategies for optimizing bundle size.</li>
        <li>Following Agile methodologies to ensure timely delivery of features and constant communication with the team.</li>
      </ol>

      <p class="bullet title">QA Developer</p>
      <p>Selise Bhutan <span> 2020-2021</span></p>
      <ol>
        <li>Wrote automated end-to-end tests using frameworks like Cypress and Puppeteer to ensure code quality and prevent regressions.</li>
        <li>Implemented CI/CD with Github action to test and deploy seamlessly.</li>
        <li>Collaborating with developers and project managers to ensure error free deployment.</li>
      </ol>
    </div>
  </div>
</section>
