:host {
  flex: 1;
}

section {
  margin: 2rem 0 2rem 2rem;
  background-color: #2e2d2d;
  border: 1rem solid #2e2d2d;
  display: flex;
  flex-direction: column;
  color: white;
  height: 100%;
}

#dp {
  align-self: center;
  width: 16rem;
  height: 20rem;
  object-fit:cover;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.skill {
  margin: 0 0;
}

#grey {
  color: grey;
  font-size: 1.2rem;
}

.content > p {
  margin: 0;
}

input {
  height: 2px;
  width: 100%;
}

.content {
  padding-left: 1rem;
  border-left: 2px solid #e3c54f;
}
