<section>
  <img src="assets/dp.jpeg" id="dp"/>
  <div>
    <h3>Education</h3>
    <div class="content">
      <p id="grey">2015 - 2018</p>
      <p>Bachelor in Computer Science</p>
      <p id="grey">University of Western Sydney</p>
    </div>
  </div>
  <div>
    <h3>Skills</h3>
    <div class="content" *ngFor="let el of skills">
      <p class="skill">{{el.name}}</p>
      <input disabled type="range" [value]="el.level" [max]="10" [min]="0"/>
    </div>
  </div>

  <div>
    <h3>Frameworks</h3>
    <div class="content" *ngFor="let el of frameworks">
      <p class="skill">{{el.name}}</p>
      <input disabled type="range" [value]="el.level" [max]="10" [min]="0"/>
    </div>
  </div>

  <div>
    <h3>Certification</h3>
    <div class="content" *ngFor="let el of certificates">
      <p class="skill bullet"><a [href]="el.url" target="_blank">{{el.name}}</a></p>
    </div>
  </div>

  <div>
    <h3>Specialization</h3>
    <div class="content" *ngFor="let el of specialist">
      <p class="skill bullet"><a [href]="el.url" target="_blank">{{el.name}}</a></p>
    </div>
  </div>
</section>
